.card {
  width: 175px;
  height: 300px;
  border: 2px solid black;
  border-radius: 6%;
  font-size: 5rem;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 50px;
    height: 100px;
  }
}