.scoreboard {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 800px) {
  .scoreboard {
    font-size: .75rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}